.jumbotron{
	background-color: #f3dbc3; 
	color: #104076;
	padding: 100px 25px;
	font-family: ;
	text-align: center;
	margin: 0px;
	height: 370px;
}	

.container-fluid{
	padding: 40px 50px;
	background-color: skyblue;
}

.negro{

		height: 90px;
       background-color: #86ebf5;
       text-align: center;
     }

.navegador{
        list-style: none;
        display: inline-block;
        padding:7px;

	}






     nav ul li{
         float: left;
         margin-top: 20px;
     }

     nav ul li a {
         color: grey;
         font-weight: bold;
         text-decoration: none;
         font-size: 20px;
         padding: 18px;
     }



.btn-primary {
		width:250px;
		height: 50px;
		color:white;
		font-weight: bolder;
		font-size: 20px;
}





@media screen and (min-width:320px){
	.fotos {
		max-width: 400px;
		max-height: 300px;
	}
}


@media screen and (min-width:768px){
	.fotos {
		max-width: 450px;
		max-height: 300px;
	}
}

@media screen and (min-width:1024px){
	.fotos {
		max-width: 470px;
		max-height: 300px;
	}
}

@media screen and (min-width:1440px){
	.fotos {
		max-width: 670px;
		max-height: 350px;
	}
}







@media screen and (min-width:320px){
	.fotos2 {
		max-width: 380px;
		max-height: 280px;
	}
}


@media screen and (min-width:768px){
	.fotos2 {
		max-width: 430px;
		max-height: 280px;
	}
}

@media screen and (min-width:1024px){
	.fotos2 {
		max-width: 450px;
		max-height: 280px;
	}
}

@media screen and (min-width:1440px){
	.fotos2 {
		max-width: 650px;
		max-height: 330px;
	}
}







@media screen and (min-width:768px){
	.fotos2-1 {
		max-width: 370px;
		max-height: 210px;
	}
}

@media screen and (min-width:1024px){
	.fotos2-1 {
		max-width: 400px;
		max-height: 250px;
	}
}

@media screen and (min-width:1440px){
	.fotos2-1 {
		max-width: 550px;
		max-height: 350px;
	}
}








@media screen and (min-width:320px){
	.fotos3 {
		max-width: 400px;
		max-height: 300px;
	}
	.fotos3-1{
		max-width: 40px;
		max-height: 300px;
	}
}


@media screen and (min-width:768px){
	.fotos3 {
		max-width: 450px;
		max-height: 300px;
	}
	.fotos3-1{
		max-width: 450px;
		max-height: 300px;
	}
}

@media screen and (min-width:1024px){
	.fotos3 {
		max-width: 470px;
		max-height: 310px;
	}
	.fotos3-1{
		max-width: 470px;
		max-height: 310px;
	}
}

@media screen and (min-width:1440px){
	.fotos3 {
		max-width: 670px;
		max-height: 500px;
	}
	.fotos3-1{
		max-width: 670px;
		max-height: 390px;
	}
}




@media screen and (min-width:768px){
	.fotos4 {
		max-width: 370px;
		max-height: 400px;
	}
}

@media screen and (min-width:1024px){
	.fotos4 {
		max-width: 400px;
		max-height: 370px;
	}
}

@media screen and (min-width:1440px){
	.fotos4 {
		max-width: 550px;
		max-height: 500px;
	}
}








@media screen and (min-width:768px){
	.importancia{
		max-width: 450px;
		max-height: 280px;
	}
}

@media screen and (min-width:1024px){
	.importancia{
		max-width: 450px;
		max-height: 280px;
	}
}

@media screen and (min-width:1440px){
	.importancia{
		max-width: 650px;
		max-height: 450px;
	}
}






@media screen and (min-width:768px){
	.como{
		max-width: 450px;
		max-height: 280px;
	}
}

@media screen and (min-width:1024px){
	.como{
		max-width: 450px;
		max-height: 280px;
	}
}

@media screen and (min-width:1440px){
	.como{
		max-width: 700px;
		max-height: 400px;
	}
}
